
#chat-container {
    width: auto;
    margin: 0 auto;
}

#chat-area {
    font-size: 120%;
    height: 800px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 10px;
}

#message-input {
    font-size: 110%;
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 5px;
}

#send-button {
    width: 100%;
    padding: 5px;
    font-size: 125%;
    font-weight: bold;
    background-color: #1A5B7D;
    color: white;
    border: none;
    cursor: pointer;
}




