body {
    font-family: Arial, sans-serif;
}

#chat-container {
    width: 700px;
    margin: 0 auto;
}

#chat-area {
    height: 800px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 10px;
}

#message-input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

#send-button {
    width: 100%;
    padding: 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}



.header {
    width: 700px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.chatbot-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.bottom-section {
    display: flex;
}

.logo {
    margin-left: 10px;
    width: 120px;
    height: 120px;
}

.description {
    margin: 10px;
    flex: 1;
}
